.banner-ppal{
	position: relative;
	background-size: cover;
	background-repeat: no-repeat;
	padding: 0 40px;
}
.effect-1{
	position: absolute;
	z-index: 90;
	right: 0;
	opacity: 1.4;
	mix-blend-mode: multiply;
}
.effect-2 {
	position: absolute;
	right: 0;
}
.effect-3 {
	position: absolute;
	z-index: 90;
	top: 180px;
	left: -40px;
	opacity: 1.4;
	mix-blend-mode: multiply;
}
.effect-4 {
	position: absolute;
	top: 270px;
	left: 0;
	z-index: -1;
	opacity: .4;
	mix-blend-mode: multiply;
}
.effect-5 {
	position: absolute;
	z-index: 90;
	bottom: -130px;
	right: 0;
	opacity: 1.4;
	mix-blend-mode: multiply;
}
.effect-6 {
	position: absolute;
	bottom: -170px;
	right: 0;
	z-index: -1;
}
.effect-7 {
	position: absolute;
	top: -100px;
	right: 0;
	z-index: -1;
}
.banner-ppal--second{
	margin-top: -456px;
}
.banner-ppal--three{
	margin-top: -160px;
}
.banner__container{
	width: 100%;
	max-width: 1200px;
	margin: 0 auto;
}
.banner__text{
	max-width: 750px;
}
.banner-gray{
	height: 700px;
	background-color: transparent;
	position: relative;
	z-index: 10;
	margin-top: -265px;
}
.banner-gray::before{
	position: absolute;
	content: "";
	width: calc(100% + 200px);
	height: 700px;
	background-color: #DEDEDE;
	transform: rotate(-10deg);
	left: -90px;
	top: 135px;
}
.services{
	position: relative;
}
.service-item{
	position: relative;
	overflow: hidden;
	width: 368px;
	height: 368px;
	background-size: cover;
	background-position: center center;
	background-repeat: no-repeat;
	text-align: center;
	cursor: pointer;
}
.service-item::before{
	display: none;
	position: absolute;
	content: "";
	width: 100%;
	height: 100%;
	top: 0;
	left: 0;
	background: black;
	opacity: .6;
}
.service-item h5{
	width: 270px;
	text-shadow: -4px 4px 9px rgba(0, 0, 0.5);
	transition: all .1s;
	position: relative;
}
.service-item p{
	width: 343px;
	display: none;
	opacity: 0;
	transition: all .3s;
	position: relative;
}
.service-item:hover::before{
	display: block;
}
.service-item:hover h5{
	opacity: 0;
	display: none;
}
.service-item:hover p {
	display: block;
	opacity: 1;
}
.banner-text{
	max-width: 500px;
}
.banner-text--large{
	max-width: 600px;
}
.efect-line, .efect-line--custom{
	position: relative;
}
.efect-line::before, .efect-line--custom::before{
	position: absolute;
	content: "";
	width: 42px;
	height: 7px;
	background: #BF1920;
	top: -40px;
	left: calc(50% - 20px);
}
.efect-line--white::before{
	background: white
}
.efect-line--custom::before{
	left: 0px;
}
.button{
	padding: 10px 20px;
	border: 1px solid white;
	color: white;
	transition: all .2s ease-in-out;
	border-radius: 5px;
	cursor: pointer;
}
.button:hover{
	background: white;
	color: black;
}
.button--custom{
	background: white;
	color: black;
}
.button--custom:hover{
	background: transparent;
	color: white;
}
.button--small{
	padding: 10px 15px;
	font-size: 12px;
}
.text-red{
	color: #BF1920;
}
@media screen and (max-width: 1900px) {
	.banner-ppal--second {
		margin-top: -350px;
	}
	.effect-1{
		bottom: 0;
	}
	.effect-2{
		z-index: 0;
		bottom: -80px;
	}
}
@media screen and (max-width: 1500px) {
	.effect-1 {
		bottom: 140px;
	}
	.effect-2 {
		bottom: 80px;
		z-index: -1;
	}
}
@media screen and (max-width: 1400px) {
	.banner-ppal--second {
		margin-top: -256px;
	}
}
@media screen and (max-width: 1300px) {
	.service-item {
		width: 300px;
		height: 300px;
	}
}
@media screen and (max-width: 1023px) {
	.banner__text{
		max-width: 100%;
		text-align: center;
	}
	.effect-1 {
		bottom: 80px;
	}
	.effect-2 {
		bottom: 40px;
	}
	.effect-5 {
		bottom: -180px;
	}
	.effect-6 {
		bottom: -200px;
	}
}
@media screen and (max-width: 767px) {
	.effect-1, .effect-2, .effect-3, .effect-4, .effect-5, .effect-6 {
		display: none;
	}
	.banner-gray{
		background-color: #DEDEDE;
		margin-top: -100px;
		height: auto;
		padding-bottom: 80px;
	}
	.banner-gray::before {
		display: none;
	}
}