.footer{
	background-color: #060606;
	margin-top: -1px;
	padding: 100px 40px 50px;
}
.footer__logo{
	width: 100%;
	max-width: 307px;
}
.footer__nav{
	width: 100%;
	max-width: 620px;
}
.footer__social a:hover #face-icon, .footer__social a:hover #ig-icon, .footer__social a:hover #x-icon{
	fill: #e3141d;
}
.logo-desarrollo{
	display: flex;
	justify-content: flex-end;
	align-items: flex-end;
	margin-top: 20px;
}
.logo-desarrollo__icon{
	width: 60px;
	margin-left: 10px;
	margin-bottom: 5px;
}
@media screen and (max-width: 639px) {
	.footer {
		padding: 100px 30px 50px;
	}
	.logo-desarrollo {
		justify-content: center;
	}
	.footer__nav__item, .footer__nav__item a{
		display: block;
	}
	.footer__nav__item span{
		display: none;
	}
	.footer__social{
		padding: 0;
		justify-content: center;
		gap: 30px;
	}
	.footer__social > div {
		margin: 0;
	}
}